This notebook contains the lab/project work for Hamoye Internship (stage_B)

Dataset:Energy Prediction data

The data set is at 10 min for about 4.5 months. The house temperature and humidity conditions were monitored with a ZigBee wireless sensor network. Each wireless node transmitted the temperature and humidity conditions around 3.3 min. Then, the wireless data was averaged for 10 minutes periods. The energy data was logged every 10 minutes with m-bus energy meters. Weather from the nearest airport weather station (Chievres Airport, Belgium) was downloaded from a public data set from Reliable Prognosis (rp5.ru), and merged together with the experimental data sets using the date and time column

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

# to display all columns
pd.pandas.set_option('display.max_columns', None)

In [2]:
df=pd.read_csv('Downloads/energydata_complete (1).csv')
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,RH_5,T6,RH_6,T7,RH_7,T8,RH_8,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,45.566667,17.166667,55.20,7.026667,84.256667,17.200000,41.626667,18.2,48.900000,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,45.992500,17.166667,55.20,6.833333,84.063333,17.200000,41.560000,18.2,48.863333,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,45.890000,17.166667,55.09,6.560000,83.156667,17.200000,41.433333,18.2,48.730000,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,45.723333,17.166667,55.09,6.433333,83.423333,17.133333,41.290000,18.1,48.590000,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,45.530000,17.200000,55.09,6.366667,84.893333,17.200000,41.230000,18.1,48.590000,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [3]:
#12


x= df['T2'].values.reshape(-1,1)
y =df['T6'].values.reshape(-1,1)
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test= train_test_split(x,y,test_size=0.3,random_state=42)

#linear regression training with T2 and T6
from sklearn.linear_model import LinearRegression
lin_reg=LinearRegression()
lin_reg.fit(x_train,y_train)
y_pred=lin_reg.predict(x_test)

#r_square metric
from sklearn.metrics import r2_score
r2=r2_score(y_test, y_pred)
print(f'r_square: {round(r2,2)}')

r_square: 0.64

In [4]:
#13, 14, 15, 16

df=df.drop(columns=['date', 'lights'])

# Normalizing the dataset
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
norm_df=pd.DataFrame(scaler.fit_transform(df),columns=df.columns)

x=norm_df.drop(columns=['Appliances'])
y=norm_df['Appliances']

#dividing dataset into train and test data
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test= train_test_split(x,y,test_size=0.3,random_state=42)

# training using linear Regression
from sklearn.linear_model import LinearRegression
lin_regr=LinearRegression()
lin_regr.fit(x_train,y_train)

y_pred=lin_regr.predict(x_test)

# Question 13
from sklearn.metrics import mean_absolute_error
mae=mean_absolute_error(y_test,y_pred)
print(f'Mean Absolute Error : {round(mae,2)}')

# Question 14
# RSS
rss=np.sum(np.square(y_test-y_pred))
print(f'Residual Sum of Squares : {round(rss,2)}')

# Question 15
from sklearn.metrics import mean_squared_error
rmse=np.sqrt(mean_squared_error(y_test,y_pred))
print(f'Root Mean Squared Error : {round(rmse,3)}')

# Question 16
from sklearn.metrics import r2_score
r2=r2_score(y_test,y_pred)
print(f'Coefficient of Determination : {round(r2,2)}')

Mean Absolute Error : 0.05
Residual Sum of Squares : 45.35
Root Mean Squared Error : 0.088
Coefficient of Determination : 0.15

In [5]:
def get_wt_df(model,feat,col_name):
    wt=pd.Series(model.coef_,feat.columns).sort_values()
    wt_df=pd.DataFrame(wt).reset_index()
    wt_df.columns=['Features',col_name]

    return wt_df

In [6]:
# Question 17
get_wt_df(lin_regr,x_train,'Linear model').sort_values(by=['Linear model'],ascending=True)

       Features  Linear model
0          RH_2     -0.456698
1         T_out     -0.321860
2            T2     -0.236178
3            T9     -0.189941
4          RH_8     -0.157595
5        RH_out     -0.077671
6          RH_7     -0.044614
7          RH_9     -0.039800
8            T5     -0.015657
9            T1     -0.003281
10          rv1      0.000770
11          rv2      0.000770
12  Press_mm_hg      0.006839
13           T7      0.010319
14   Visibility      0.012307
15         RH_5      0.016006
16         RH_4      0.026386
17           T4      0.028981
18    Windspeed      0.029183
19         RH_6      0.038049
20         RH_3      0.096048
21           T8      0.101995
22    Tdewpoint      0.117758
23           T6      0.236425
24           T3      0.290627
25         RH_1      0.553547

therefore; RH_1	and RH_2 are the features with maximum and minimum weight

In [7]:
# Question 18

# Ridge reegression
from sklearn.linear_model import Ridge
ridge=Ridge(alpha=0.4)
ridge.fit(x_train,y_train)

y_pred=ridge.predict(x_test)

from sklearn.metrics import mean_squared_error
rmse=np.sqrt(mean_squared_error(y_test,y_pred))
print(f'Root Mean Squared Error : {round(rmse,3)}')

Root Mean Squared Error : 0.088

there is no change in the Root Mean Squared Error for ridge and linear model

In [8]:
# Question 19

# Lasso Regression
from sklearn.linear_model import Lasso
lasso=Lasso(alpha=0.001)
lasso.fit(x_train,y_train)

get_wt_df(lasso,x_train,'Lasso_wt').sort_values(by=['Lasso_wt'],ascending=True)

       Features  Lasso_wt
0        RH_out -0.049557
1          RH_8 -0.000110
23          rv2 -0.000000
22         RH_6 -0.000000
21           T2  0.000000
20         RH_2 -0.000000
19           T3  0.000000
18         RH_3  0.000000
17           T4 -0.000000
16         RH_4  0.000000
15           T5 -0.000000
14         RH_5  0.000000
13           T6  0.000000
12           T7 -0.000000
11          rv1 -0.000000
10         RH_7 -0.000000
9            T8  0.000000
8            T9 -0.000000
7          RH_9 -0.000000
6         T_out  0.000000
5   Press_mm_hg -0.000000
4    Visibility  0.000000
3     Tdewpoint  0.000000
2            T1  0.000000
24    Windspeed  0.002912
25         RH_1  0.017880

4 features have non zero weights

In [9]:
# Question 20

y_pred_lasso=lasso.predict(x_test)
rmse_lasso=np.sqrt(mean_squared_error(y_test,y_pred_lasso))
print(f'Root Mean Squared Error : {round(rmse_lasso,3)}')

Root Mean Squared Error : 0.094